html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    font-family: $font-base;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    color: $c-text;
    text-align: center;
    background-color: #ECEAE9;
}

.cta {
    display: flex;
    justify-content: center;

    &__item {
        display: block;
        width: 260px;
        text-decoration: none;
        color: $c-primary;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 10px  20px;
        border: 2px solid $c-primary;

        &:hover {
            background-color: $c-primary;
            border: 2px solid $c-primary;
            color: $c-bg;
        }

    }

}


.button {
    width: 260px;
    color: white;
    background-color: $c-primary;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
	padding: 10px 20px;
	border: 2px solid $c-primary;
    margin-top: 30px; 

    &:hover {
        color: $c-primary;
        background-color: white;
    }
}


.txt-link {
    text-decoration: none;
    color: $c-primary;
    font-style: italic;
}