---
layout: layouts/sites
title: Apartmány
menu: apartmany
---

<section class="apartment-detail" id="apartments">
    {% for description in apartments %}
    <div class="apartment-detail__pack" id="{{description.id}}">
        <h2 class="apartment-detail__title">{{description.type}}</h2>
        <img class="apartment-detail__img" src="/images/{{description.img}}" alt="{{description.type}}">
        <p class="apartment-detail__txt">{{description.txt}}</p>
        <p class="apartment-detail__beds">{{description.beds}} <br> {{description.other}}</p>
        
        <div class="cta">
            <a class="cta__item" href="/rezervace-{{description.id}}/#{{description.form}}">Chci se tu ubytovat</a>
        </div>
    </div>
    {% endfor %}
 
</section>

{% include "partials/services.njk" %}