---
layout: layouts/sites
title: Apartmán 2
menu: rezervace-form
---

<section class="price-reservation" id="formular-2">

    <div class="price-list">
        <table class="price-list__table">
            <tr><th colspan="2">Apartmán 2 <span class="price-list__span">| 4 + 2 | Cena za 1 noc</span></th></tr>
            {% for tableprise in prisetwo %}
            <tr><td class="cell-colored">{{tableprise.osoba}}</td><td>{{tableprise.cena}} Kč</td></tr>
            {% endfor %}
        </table>
    </div>
</section>

{% include "partials/form-r-top.njk" %}

            <div class="form__field">
                <label class="form__label" for="persons">Počet osob <span class="required">*</span></label>
                <select class="form__input form__input--shorter" name="persons" id="persons" required>
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            
{% include "partials/form-bottom.njk" %}