    <footer class="footer">
        <nav class="footer-nav">
            <ul class="footer-nav__list">
                {% for navitem in navigation%}
                <li class="footer-nav__item {% if menu === navitem.navmenu %}menu__link--intro-disabled{% endif %}"><a class="footer-nav__link" href="{{navitem.navlink}}">{{navitem.navtitle}}</a></li>
                {% endfor %}
            </ul>

            <a href="/"><img class="footer-nav__logo" src="/images/icon_logo.svg" alt="Logo Apartmány Medvěd"></a>
        </nav>

        <div class="footer-contact">
            <div class="footer-contact__contact">
                <h4 class="footer-contact__title-contact">Kontakt</h4>
                <a class="footer-contact__item" href="tel:+420123456789">+420 123 456 789</a>
                <a class="footer-contact__item" href="mailto:apartmany@medved.cz">apartmany@medved.cz</a>
            </div>

            <div class="footer-contact__adress">
                <h4 class="footer-contact__title-adress">Adresa</h4>
                <p class="footer-contact__item"> Apartmány Medvěd<br>Na Jámě 15<br>692 01 Mikulov</p>
            </div>

            <div class="footer-contact__icons">
                <a class="footer-contact__link" href="#"><img class="footer-contact__icon" src="/images/icon_instagram.svg" alt="Instagram" style="width: 24px;"></a>
                <a class="footer-contact__link" href="#"><img class="footer-contact__icon" src="/images/icon_twitter.svg" alt="Twitter" style="width: 24px;"></a>
                <a class="footer-contact__link" href="#"><img class="footer-contact__icon" src="/images/icon_fb.svg" alt="Facebook" style="width: 24px;"></a>
            </div>
        </div>
    </footer>

</body>
</html>