<form action="/odeslano/" class="form" name="reservation" method="POST" data-netlify="true">
    <h2 class="form__title">Rezervace</h2>
    <div class="form__set">

        <div  class="form__calendar">
            <a class="form__link" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRryIrTW1TrKsTmTziv7PEiCgami84fWaVn5bbm5T3y5RP8Smf_pwMGgyDBDciK64KpRJTvg2t9A40F/pubhtml?gid=0&single=true" target="_blank">Obsazenost apartmánů</a>
        </div>

        <div class="form__inputs">

            <div class="form__field">
                <label class="form__label" for="name">Jméno a Příjmení <span class="required">*</span></label>
                <input class="form__input" type="text" name="jmeno" id="jmeno" required>
            </div>
            <div class="form__field">
                <label class="form__label" for="email">E-mail <span class="required">*</span></label>
                <input class="form__input" type="email" name="email" id="email" required>
            </div>
            <div class="form__field">
                <label class="form__label" for="telefon">Telefon</label>
                <input class="form__input" type="tel" name="telefon" value="+420 " id="telefon">
            </div>
            <div class="form__field">
                <label class="form__label" for="type">Typ apartmánu</label>
                <input class="form__input" type="text" name="type" value="{% if menu === 'rezervace-form' %}{{title}}{% endif %}" id="type" disabled>
                <input type="hidden" name="type" value="{% if menu === 'rezervace-form' %}{{title}}{% endif %}">
            </div>
            <div class="form__inputs-shorts">
                <div class="form__field">
                    <label class="form__label" for="arivall">Den příjezdu <span class="required">*</span></label>
                    <input class="form__input form__input--short" type="date" name="arivall" id="arrival" required>
                </div>
                <div class="form__field">
                    <label class="form__label" for="departure">Den odjezdu <span class="required">*</span></label>
                    <input class="form__input form__input--short" type="date" name="departure" id="departure" required>
                </div>
            </div>