</div>
        
<div class="form__field-message">
    <label class="form__label" for="zprava">Zpráva <span class="required">*</span></label>
    <textarea class="form__textarea" name="zprava" id="zprava" cols="30" rows="10" placeholder="Pokud to bude v medvědových silách, vyhoví Vašim individuálním přáním. Nebojte se a napište mu."></textarea>
</div>
       
</div>

<p class="form__txt">Nejpozději do 24 hodin Vám Medvěd pošle potvrzení rezervace a&nbsp;případné další informace.</p>

<input type="submit" value="Odeslat" class="button">
</form>