</div>
        
<div class="form__field-message">
    <label class="form__label" for="zprava">Zpráva <span class="required">*</span></label>
    <textarea class="form__textarea" name="zprava" id="zprava" cols="30" rows="10" placeholder="Pokud to bude v našich silách, vyhovíme Vašim individuálním přáním."></textarea>
</div>
       
</div>

<input type="submit" value="Odeslat" class="button">
</form>