<header class="header">
    <div class="header__content">

        {% include "partials/menu.njk" %}

        <a class="header__logo" href="/"><img src="/images/icon_logo2.svg" alt="Logo Apartmány Medvěd"></a>

        <h1 class="header__headline">{{title}}</h1>
</div>
</header>